@model FT.Models.DesignerViewModel

@{
    ViewBag.Title = "Designers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="designer-container">
    <div class="designer-bio-container">
        <div class="designer-bio-profile">
            <div class="designer-headshot">
                <img class="designerImg" src="@Url.Content("~/Content/Images/DesignerHeadShots2016/" + Model.HeadShot + ".png")" />
                <div class="designer-header-cursive">
                    @Model.Name
                </div>
            </div>
            <div class="designer-header">
                @Model.Name
            </div>
        </div>

        <br />

        <div class="designer-bio-text">
            <div>
                <p>
                    @Model.Bio[0]
                </p>
            </div>
            <div>
                <p>
                    @Model.Bio[1]
                </p>
            </div>
        </div>
    </div>

    <div class="section designer-main-design-container">
        <img class="main-design-photo" src="@Url.Content("~/Content/Images/MainDesignPhotos/" + Model.MainDesign + ".jpg")" />

        <div class="main-design-info">
            <p>@Model.Description</p>
        </div>
    </div>

    <div class="designer-designs-container">
       @for (var i = 0; i < Model.Designs.Count; i++)
       {
        <img class="mySlides" src="@Url.Content(System.IO.Path.Combine("~/Content/Images/DesignerDesigns", Model.ImageFolderName,  Model.Designs[i] + ".jpg"))" />
       }

        <a class="btn-floating btn-display-left" onclick="plusDivs(-1)">&#10094;</a>
        <a class="btn-floating btn-display-right" onclick="plusDivs(1)">&#10095;</a>
    </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
    </script>


</div>
